
            h1 {
                text-align: center;
                font-style: italic;
                font-size: 50px;
                color: yellow;
                text-shadow: 2px 2px black;
            }

            body {
                background-color: lightgray;
            }

            fieldset {
                box-shadow: 10px 10px ;
                background-color: lightgray;
                margin-bottom: 8px;
                border-radius: 30px;
                Border-width: 5px;
                padding: 15px;
                border-style: dashed;
            }

            legend {
                color: darkred;
                font-size: 40px;
                
            }

            input, select{
                margin-right: 10px;
                margin-bottom: 20px;
                border-radius: 25px;
                border: none;
                border-bottom: 2px solid;
                background-color: lightgray
            }
            textarea{
                
                border-radius: 25px;
                border: none;
                border-bottom: 2px solid;
                background-color: lightgray
            }

            button {
                border-radius: 25px;
                font-size: 15px; 
                margin-left: 10px;
            }

            label{
                color: darkred;
            }
            output {
                color: darkred;          
            }


